<template name="pricing">
    <div class="row">
        <div class="col-md-8 center">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3>So... Do I have to pay?</h3>
                </div>
                <div class="box-content padding">
                <p>Well, no. ;-)</p>
                    <p>We want to help you concentrate and work better for ever, for free.</p>
                    <p>You will always be able to use this software to match up with fellow lockstepers, get stuff done, have casual conversations from hardoworking people around the globe, and compete on the number of achievements</p>
                    <p>Having said that, we will be introducing paid plans for organized teams/companies</p>
                    <p>Till then, if you like what you see and would like to express your interest:</p>
                    <p><a href='/tip' class="tip">Click here to secure a 50% discount on the coming paid plans</a></p>
                </div>
            </div>
        </div>
    </div>
</template>

