<template name="history">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3>Tasks you completed</h3>
                </div>
                <div class="box-content padding">
                    <ul>
                        {{#each completedTasks}}
                            {{> task}}
                        {{/each}}
                    </ul>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3>Tasks you planned</h3>
                </div>
                <div class="box-content padding">
                    <ul>
                        {{#each plannedTasks}}
                            {{> task}}
                        {{/each}}
                    </ul>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</template>