<template name="taskList">

    <div class="col-md-6">
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3>Tasks</h3>
            </div>
            <div class="box-content padding">
                {{> doneTask}}
                {{#each user}}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                {{name}}
                            </div>
                            <div class="row">
                                {{mood}}
                            </div>
                        </div>
                        <div class="col-md-9" style="border-left: 1px solid #eee;">

                            {{#if notEmptyCursor tasksPlanned}}
                                Planned:
                            {{/if}}
                            <ul>
                                {{#each tasksPlanned}}
                                    {{> task}}
                                {{/each}}
                            </ul>

                            {{#if notEmptyCursor tasksDone}}
                                Done:
                            {{/if}}
                            <ul>
                                {{#each tasksDone}}
                                    {{> task}}
                                {{/each}}
                            </ul>

                            {{#if notEmptyCursor tasksToDo}}
                                Todo:
                            {{/if}}
                            <ul>
                                {{#each tasksToDo}}
                                    {{> task}}
                                {{/each}}
                            </ul>

                        </div>
                    </div>
                    <hr/>
                {{/each}}
                {{> addTask}}

            </div>
            {{> startButton}}
        </div>
    </div>
</template>


<template name="task">
    <li class="emojiPicker" data-taskId="{{_id}}">{{#if emptyArray emojis}}<i class="fa fa-smile-o pull-right"></i>{{/if}}{{formatDate timestamp}} - {{display}} {{#each emojis}}{{#emoji}}<span
            class="emoji">{{emojiText}}</span>{{/emoji}}{{/each}}</li>
</template>

