<template name="timer">
    <div class="timer" style="display: none">
        <div style="color:#EEE;height:520px;width:100%">
            <div style="position:relative;width:500px;margin:auto">
                <div style="position:absolute;left:110px;top:110px">
                    <input class="knob second" data-min="0" data-max="60" data-bgcolor="#ddd" data-displayinput=true data-width="300" data-height="300" data-thickness=".45" data-fgcolor="#3B4B70" data-readonly="true">
                </div>
                <div style="position:absolute;left:10px;top:10px">
                    <input class="knob minute" data-min="0" data-max="25" data-bgcolor="#ddd" data-fgcolor="#244AA3" data-width="500" data-height="500" data-thickness=".3" data-readonly="true">
                </div>

            </div>
        </div>
        <button class="btn btn-danger btn-large btn-stop btn-block" type="button" style="display: none">STOP</button>

    </div>
</template>