<template name="timer">
    <div class="timer" style="display: none">
        <div style="color:#EEE;height:390px;width:100%">
            <div style="position:relative;width:375px;margin:auto">
                <div style="position:absolute;left:85px;top:85px">
                    <input class="knob second" data-min="0" data-max="60" data-bgcolor="#ddd" data-displayinput=true data-width="225" data-height="225" data-thickness=".45" data-fgcolor="#3B4B70" data-readonly="true">
                </div>
                <div style="position:absolute;left:10px;top:10px">
                    <input class="knob minute" data-min="0" data-max="25" data-bgcolor="#ddd" data-fgcolor="#244AA3" data-width="375" data-height="375" data-thickness=".3" data-readonly="true">
                </div>

            </div>
        </div>

    </div>
</template>